# Build output
/build/

# Logs
*.log
npm-debug.log*
weather-server.log

# Node modules
/node_modules/

# IDE files
.vscode/
.idea/
*.code-workspace

# Environment variables
.env
.env.local

# Windows specific
Thumbs.db
Desktop.ini

# Package-lock
package-lock.json
